export GITHUB_ORG= # take it from your real Github Org
export REPO_NAME= # take it from your real repo name
export BUCKET_NAME= # make it up, but needs to be unique in GCP, not trivial
export PROVIDER_NAME= # make it up
export POOL_NAME= # make it up
export PROJECT_ID= # your real gcp project id 
export SERVICE_ACCOUNT_NAME= # make it up
